@charset "UTF-8";
/* CSS Document */


	.st0{fill:#EDE3E1;}

	.st1{fill:none;}

	.st2{fill:#5F3C2D;}

	.st3{fill:#3C2417;}

	.st4{fill:#28130E;}

	.st5{fill:#815342;}

	.st6{fill:#010101;}

	.st7{fill:#FFFFFF;}

	.st8{fill:#E8E9E9;}

	.st9{fill:#EB2227;}

	.st10{fill:#686969;}

	.st11{fill:#8C8989;}

	.st12{fill:#6F7273;}

	.st13{fill:#0A2C37;}

	.st14{fill:#FFDB90;}

	.st15{fill:#F4C88A;}

	.st16{fill:#171617;}

	.st17{fill:#FCD88E;}

	.st18{fill:#181617;}

	.st19{fill:#F7D58D;}

	.st20{fill:#F6BD57;}


