@charset "UTF-8";
/* CSS Document */


	.st0{fill:#D18A2C;}

	.st1{fill:#F2B150;}

	.st2{fill:#FFFFFF;}

	.st3{fill:#034882;}
#circle:hover
{
	fill: #843141;
	stroke: white;}
	
@media screen and (max-width: 150px) {
		#pause {
		display: none;}
}
